.hero {
  background-color: #a31d1d;
}
.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 60px 0;
}

.hero-text-content { 
  max-width: 50%;
   font-weight: 700;
  font-size: 23px;
  line-height: 130%; 
  margin-bottom: 25px;
  color: #FFFFFF;

 }

.hero-main-title { 
  max-width: 555%;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%; 
  margin-bottom: 24px;
  color: #FFFFFF;

 }

.hero-description {
  max-width: 453px;
   font-size: 16px;
    opacity: 70%; 
    margin-bottom: 40px;
   }

.hero-action-btn {
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  background:none;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}


.hero-visual { 
   max-width: 50%;
}


.hero-plate {
     max-width: 100%; 
    }
    @media (max-width: 992px) {
  .hero-main-title {
    font-size: 60px; 
  }
}
@media (max-width: 768px) {
  .hero-inner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-text-content {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
  .hero-visual{
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .hero-main-title {
    font-size: 50px;
  }
  .hero-plate{
    max-width: 99%;
  }
}
@media (max-width: 576px) {
  .hero-inner{
    padding: 30px 0;
  }
  .hero-main-title {
    font-size: 29px;
    line-height: 32px; 
  }
  .hero-description {
    font-size: 14px;
  }
  .hero-action-btn {
    width: 100%;
  }
}