.section{
  background: #F8F8F8;
}
.section-wrapper { 
  padding: 60px 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.custom-nav { 
  display: flex; 
  gap: 10px; 
}

.prev-btn, .next-btn {
  width: 45px; 
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.3s;
}

.prev-btn:hover, .next-btn:hover {
  background: #dc2626; 
  color: white;
  border-color: #dc2626;
}
.dish-card {
  border: 1px solid #dee0e4;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%; 
  transition: 0.3s;
}
.dishes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.dish-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

.dish-name {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  flex-grow: 1; 
}

.price { color: #dc2626; font-weight: bold; font-size: 18px; margin-top: 5px; }

@media (max-width: 1024px) {
  .dishes-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .dishes-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
  .section-wrapper{
    padding: 30px 0;
  }
}

@media (max-width: 480px) {
  .prev-btn, .next-btn {
    width: 35px; 
  height: 35px;
  }
  .dishes-grid {
    grid-template-columns: 1fr; 
    gap: 15px;
  }
  .dish-img {
    height: 180px; 
  }
}